@font-face {
  font-family: "SFProText";
  src: url("./data/SFProText.ttf") format("truetype");
 }
 
body {
  margin: 0;
  font-family: 'SFProText', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 1200px) {
  html {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
  }
}